@model SingleMovie
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    f
    <form asp-method="post" asp-action="MovieSearchResult">

    <p>What are teh three movies you are looking for:</p>

    <input type="text" name="title" />
    <input type="submit" />
    <input type="text" name="title" />
    <input type="submit" />
    <input type="text" name="title" />

    <input type="submit" />
    </form>
@{
    int i = 1;
    while (i<= 3)
    {
        i++;
        if (Model != null)
        {
            <h2>@Model.Title</h2>
            <img src="@Model.Poster">


        }
    }
    
}

